body {
    font-family: "Lato", sans-serif;
    color: white;
    text-align: left;
    background-image: url('../images/marblev2.webp');
    background-size: cover;
}
.manss {
    color: white;
    text-align: left;
}

.pad {
    padding: 25px;
}

.pad2 {
    padding: 40px;
}

h2 {
    padding-left: 35px;
    color: white;
    background-color: #000000;
    margin-top: 35px;
} 
